@media (max-width: 768px) {
  .section {
    width: 100%;
  }
}

@font-face {
  font-family: Roboto;
   src: url("assets/fonts/Roboto.ttf");
 }

 @font-face {
  font-family: LibreBaskerville;
  src: url("assets/fonts/LibreBaskerville-Regular.ttf");
 }

 @keyframes colormark {
  from {background-color: white;}
  to {background-color: var(--main-bg-color);}
  from {background-color: var(--main-bg-color);}
  to {background-color: white;}
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  margin: 0 auto;
}

.nav-list {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
}

.nav-link {
  padding: 0 10px;
  line-height: 40px;
  transition: .5s;
}

.nav-item a {
  text-decoration: none;
  font-weight: 400;
  color: #000000;
}

.nav-item a:hover {
  color: #000000;
}

.section {
  width: 30%;
  padding-top: 40px;
  margin-left: auto;
  margin-right: auto;
}

.bg-colored:target {
  border-radius: 30px;
  animation-name: colormark;
  animation-duration: 5s;
}

.section-title {
  font-weight: 100;
  text-align: center;
  font-size: 42px;
  margin-bottom: 20px;
  letter-spacing: 3px;
}


.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  background-color: var(--main-bg-color);
 }

.footer-image {
  height: 46px;
 }

.footer-name {
  font-size: 14px;
  padding: 0 20px;
}
